
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--white);
}

:root {
	--color-white: #fff;
	--color-black: #000;
	--color-yellow: #fcd508;
	--color-gray: #cccccc;
	--color-orange: #f69907;
	--color-gray-semidark: #a0a0a0;
	--color-gray-darker: #313131;

	/* Background colors */
	--btn-bg-firstThree: var(--color-gray-semidark);
	--btn-bg: var(--color-gray-darker);
	--btn-bg-lastColumn: var(--color-orange);
	--main-bg: var(--color-black);
	--body-bg: var(var(--color-white));

	/* Foreground colors */
	--btn-fg-firstThree: var(--color-black);
	--btn-fg: var(--color-white);
	--screen-fg: var(--color-white);
}

.light {
	--btn-bg-firstThree: var(--color-yellow);
	--btn-bg: var(--color-gray);
	--btn-fg: var(--color-black);
	--main-bg: var(--color-white);
	--body-bg: var(--color-gray);
	--screen-fg: var(--color-black);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 280px;
    padding: 2rem 0.5rem;
    background-color: var(--btn-fg-firstThree);
    box-shadow: 1px 1px 3px var(--color-gray);
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.screen{
    width: 90%;
    color: var(--color-white);
    background-color: var(--color-black);
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: scroll;
}

textarea{
    background-color: var(--color-black);
    display: flex;
    justify-content: baseline;
    border: none; 
    outline: none;
    color: var(--color-white);
    text-align: right;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: 700;
}

::-webkit-scrollbar{
    height: 0px;
}

.buttons{
    margin: 0.7rem auto;
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    grid-template-rows: repeat(5, 3.5rem);
    gap: 0.5em;
}

.first-three-btn{
    background-color: var(--btn-bg-firstThree);
    color: var(--color-black);
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19)
{
    background-color: var(--color-orange);
    color: var(--color-white);
}

button{
    border-radius: 50px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.number-btn{
    background-color: var(--color-gray-darker);
    color: var(--color-white);
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.zero-btn{
    grid-column: 1/3;
    justify-content: flex-start;   
    padding-left: 1.3rem; 
}

footer{
    width: 90%;
    height: 50px;
    background-color: var(--color-gray-darker);
    border-radius: 20px;
    font-size: large;
    display: flex;
}

.toggle{
    width: 100%;
    height: 100%;
    margin: auto;
    color: var(--color-white);
    font-weight: 400;
    background-color: var(--color-gray-darker);
    font-size: small;
}

footer:hover,
.toggle:hover{
    background-color: rgb(66, 65, 65);
}

.banner_whitemode{
    background-color: var(--color-gray-semidark);
}

.demo_whitemode{
    color: var(--color-black);
}


